@let monthRangeFormValue = monthRangeForm.getRawValue();
@let _incomes = incomes();
@let _expenses = expenses();

<table class="table-auto border-collapse" (input)="tableInput($event)" (keypress)="onKeyPress($event)">
  <thead>
    <tr>
      <th class="border">
        <form class="flex flex-col gap-1 p-2" [formGroup]="monthRangeForm">
          <div class="flex gap-2">
            <div class="flex flex-col">
              <label class="text-xs font-bold">Start Month</label>
              <select class="w-[200px] border font-normal" formControlName="from">
                @for (month of MONTHS; track month.value) {
                <option [value]="month.value">{{ month.label }}</option>
                }
              </select>
            </div>

            <div class="flex flex-col">
              <label class="text-xs font-bold">End Month</label>
              <select class="w-[200px] border font-normal" formControlName="to">
                @for (month of MONTHS; track month.value) {
                <option [value]="month.value">{{ month.label }}</option>
                }
              </select>
            </div>
          </div>
          @if (monthRangeForm.invalid) {
          <span class="text-xs text-red-500">Start month should not be after end month.</span>
          }
        </form>
      </th>
      @for (month of monthRangeFormValue | monthSpan; track month.value) {
      <th class="border min-w-[150px]">{{ month.label }} 2025</th>
      }
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="border p-2 font-bold" [attr.colspan]="monthRangeFormValue | colSpanFull">
        Income
      </td>
    </tr>

    @for (parentIncome of _incomes; track parentIncome.id) {
    <tr>
      <td class="border p-2 font-bold" contenteditable [attr.data-id]="parentIncome.id" [attr.data-type]="'income'">
        {{ parentIncome.label }}
      </td>
    </tr>

    @for (transaction of parentIncome.transactions; track transaction.id) {
    <tr>
      <td class="border p-2" contenteditable [attr.data-id]="transaction.id" [attr.data-type]="'income'"
        [attr.data-subtype]="'transaction'">
        {{ transaction.label }}
      </td>

      @for (month of monthRangeFormValue | monthSpan; track month.value) {

      <td class="border p-2" [cdkContextMenuTriggerFor]="contextmenu"
        [cdkContextMenuTriggerData]="{ data: { type: 'income', id: transaction.id, index: month.value - 1 }}"
        contenteditable [attr.data-id]="transaction.id" [attr.data-type]="'income'" [attr.data-subtype]="'transaction'"
        [attr.data-index]="month.value - 1">
        {{ transaction.monthlyValues[month.value - 1] }}
      </td>
      }
    </tr>
    }
    <tr>
      <td class="border p-2 font-bold">
        Sub Totals
      </td>

      @for (month of monthRangeFormValue | monthSpan; track month.value) {
      <td class="border p-2">
        {{ parentIncome.totals[month.value - 1] }}
      </td>
      }

    </tr>

    <tr>
      <td class="border p-2">
        <button class="border px-2 rounded bg-gray-300 font-bold cursor-pointer" type="button"
          (click)="addCategoryIncome(parentIncome.id)">
          Add a new &#39;{{ parentIncome.label }}&#39; Category
        </button>
      </td>
    </tr>
    }

    @if (_incomes.length) {
    <ng-container *ngTemplateOutlet="breakLine"></ng-container>
    } @else {
    <tr>
      <!-- Blank input add new parent income -->
      <td contenteditable autofocus class="border p-2" [attr.data-type]="'income'"></td>
    </tr>
    }
    <tr>
      <td class="border p-2">
        <button class="border px-2 rounded bg-gray-300 font-bold cursor-pointer" type="button"
          (click)="addParentCategoryIncome()">
          Add New Parent Category
        </button>
      </td>
    </tr>

    <ng-container *ngTemplateOutlet="breakLine"></ng-container>
    <tr>
      <td class="border p-2 font-bold">Income total</td>

      @for (month of monthRangeFormValue | monthSpan; track month.value) {
      <td class="border p-2">
        {{ incomeMonthlyTotals()[month.value - 1] }}
      </td>
      }
    </tr>

    <ng-container *ngTemplateOutlet="breakLine"></ng-container>
    <tr>
      <td class="border p-2 font-bold" [attr.colspan]="monthRangeFormValue | colSpanFull">
        Expense
      </td>
    </tr>

    @for (parentExpense of _expenses; track parentExpense.id) {
    <tr>
      <td class="border p-2 font-bold" contenteditable [attr.data-id]="parentExpense.id" [attr.data-type]="'expense'">
        {{ parentExpense.label }}
      </td>
    </tr>

    @for (transaction of parentExpense.transactions; track transaction.id) {
    <tr>
      <td class="border p-2" contenteditable [attr.data-id]="transaction.id" [attr.data-type]="'expense'"
        [attr.data-subtype]="'transaction'">
        {{ transaction.label }}
      </td>

      @for (month of monthRangeFormValue | monthSpan; track month.value) {
      <td class="border p-2" [cdkContextMenuTriggerFor]="contextmenu"
        [cdkContextMenuTriggerData]="{ data: { type: 'expense', id: transaction.id, index: month.value - 1 }}"
        contenteditable [attr.data-id]="transaction.id" [attr.data-type]="'expense'" [attr.data-subtype]="'transaction'"
        [attr.data-index]="month.value - 1">
        {{ transaction.monthlyValues[month.value - 1] }}
      </td>
      }
    </tr>
    }
    <tr>
      <td class="border p-2 font-bold">
        Sub Totals
      </td>

      @for (month of monthRangeFormValue | monthSpan; track month.value) {
      <td class="border p-2">
        {{ parentExpense.totals[month.value - 1] }}
      </td>
      }

    </tr>

    <tr>
      <td class="border p-2">
        <button class="border px-2 rounded bg-gray-300 font-bold cursor-pointer" type="button"
          (click)="addCategoryExpense(parentExpense.id)">
          Add a new &#39;{{ parentExpense.label }}&#39; Category
        </button>
      </td>
    </tr>
    }

    @if (_expenses.length) {
    <ng-container *ngTemplateOutlet="breakLine"></ng-container>
    } @else {
    <tr>
      <td contenteditable autofocus class="border p-2" [attr.data-type]="'expense'"></td>
    </tr>
    }
    <tr>
      <td class="border p-2">
        <button class="border px-2 rounded bg-gray-300 font-bold cursor-pointer" type="button"
          (click)="addParentCategoryExpense()">
          Add New Parent Category
        </button>
      </td>
    </tr>

    <ng-container *ngTemplateOutlet="breakLine"></ng-container>
    <tr>
      <td class="border p-2 font-bold">Expense total</td>

      @for (month of monthRangeFormValue | monthSpan; track month.value) {
      <td class="border p-2">
        {{ expenseMonthlyTotals()[month.value - 1] }}
      </td>
      }
    </tr>

    <ng-container *ngTemplateOutlet="breakLine"></ng-container>
    <tr>
      <td class="border p-2 font-bold">Profit &#47; Loss</td>

      @for (month of monthRangeFormValue | monthSpan; track month.value) {
      <td class="border p-2">
        {{ monthlyProfitsOrLosses()[month.value - 1] }}
      </td>
      }
    </tr>

    <tr>
      <td class="border p-2 font-bold">Opening Balance</td>

      @for (month of monthRangeFormValue | monthSpan; track month.value) {
      <td class="border p-2">
        {{ monthlyOpenBalances()[month.value - 1] }}
      </td>
      }
    </tr>

    <tr>
      <td class="border p-2 font-bold">Closing Balance</td>

      @for (month of monthRangeFormValue | monthSpan; track month.value) {
      <td class="border p-2">
        {{ monthlyCloseBalances()[month.value - 1] }}
      </td>
      }
    </tr>
  </tbody>
</table>
<!-- <pre>{{ _incomes | json }}</pre> -->
<!-- <pre>{{ _expenses | json }}</pre> -->

<ng-template #breakLine>
  <tr>
    <td class="border p-2" [attr.colspan]="monthRangeFormValue | colSpanFull">
      &nbsp;
    </td>
  </tr>
</ng-template>

<ng-template #contextmenu let-data="data">
  <div class="inline-flex flex-col min-w-[180px] max-w-[280px] bg-white py-[6px]" cdkMenu>
    <button type="button"
      class="bg-transparent cursor-pointer border-none select-none min-w-[64px] leading-[36px] px-4 flex items-center flex-row flex-1 hover:bg-gray-300 active:bg-gray-400"
      cdkMenuItem (click)="applyValueAtIndexToAll(data)">
      Apply to all
    </button>
  </div>
</ng-template>
